<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.php">  
        <img src="img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="?routing=listPts">Patients<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="?routing=newPt">Ajout patient</a>
            <a class="nav-item nav-link" href="?routing=newPtRdv">Ajout patient/RDV</a>
            <a class="nav-item nav-link" href="?routing=rdv">RDV</a>
            <a class="nav-item nav-link" href="?routing=addRdv">Prise de rendez-vous</a>
        </div>
    </div>
</nav>