<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'includes/head.html.twig'%}
        <title>{% block title %}{% endblock %}</title>
        
    </head>
    <body>
        {% include 'includes/navbar.html.twig' %}
        <main >
            <div class="fond"></div>
            {% block content %}
            {% endblock %}
        </main>
        {% include 'includes/script.html.twig' %}
    </body>
</html>