<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'includes/head.html.twig'%}
        <title>{% block title %}{% endblock %}</title>
        
    </head>
    <body>
        {% include 'includes/navbar.html.twig' %}
        <main >
         {# /* <style>
        video#bgvid {
            position: fixed; right: 0; bottom: 0;
            min-width: 100%; min-height: 100%;
            width:auto; height: auto; z-index: -100;
            background-size: cover;
        }
    </style>

    
        <video autoplay="true" loop muted  id="bgvid">
            <source src="img/video.webm" type="video/webm">
            <source src="img/video.mp4" type="video/mp4">
        </video> */ #}
            <div class="fond"></div>
            {% block content %}
            {% endblock %}
        </main>
        {% include 'includes/script.html.twig' %}
    </body>
</html>