
<!DOCTYPE html>
<html lang="fr">
     {% include 'includes/head.html.twig'%}
    <body>
    {% include 'includes/navbar.html.twig' %}
        <div class="container-fluid p-0">
            <img src="img/fond.png" alt="">
        </div>
        {% include 'includes/script.html.twig' %}
    </body>
</html>