<!DOCTYPE html>
<html lang="fr">
    {% include 'includes/head.html.twig'%}
    <body>
        <div class="container-fluid">
            {% include 'includes/navbar.html.twig' %}
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-6 mt-2 border p-2 rounded">
                        <div class="p-3 bg-secondary border text-white">
                            <h1>Rendez-vous en ligne</h1>
                        </div>
                        <form action="?routing=addRdv" method="POST">
                            <div class="form-group">
                                <label for="exampleInputPassword1">idpatient</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="idnom">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Date</label>
                                <input type="date" class="form-control" id="exampleInputPassword1" name="daterdv">
                                <label for="exampleInputPassword1">Heure</label>
                                <input type="time" class="form-control" id="exampleInputPassword1" name="heurerdv"
                                    min="09:00" max="16:00" step="1800">
                            </div>
                            <button type="submit" class="btn btn-primary" name="newrdv">confirmez</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/script.html.twig' %}
    </body>
</html>